.footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 1.5rem;
  padding: 4rem 0 1rem 0;
  font-weight: 500;
  position: relative;
  overflow: hidden;
}

.footer-circle {
  width: 180%;
  height: 180%;
  bottom: -290px;
  z-index: -1;
  position: absolute;
  background-color: var(--primary-color);
  border-radius: 50% 50% 0 0;
}

.footer-img {
  position: absolute;
  width: 130px;
  height: auto;
  left: 0;
  bottom: 0;
  transform: rotate(180deg) translate(20%, -20px);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.links a {
  text-decoration: none;
  color: black;
  font-family: "Montserrat";
}

.copyright {
  font-family: "Montserrat";
  padding-top: 1rem;
}
